NODE_ENV=development
PORT=8080

DATABASE_URL=
REDIS_URL=

LOG_LEVEL=info

BETTER_AUTH_URL=http://localhost:8080
BETTER_AUTH_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

CLIENT_URL=

YOUTUBE_API_KEY=

AWS_REGION=
AWS_S3_BUCKET=your-bucket
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

SQS_CUSTOM_TRACK_QUEUE_URL=

MAX_CUSTOM_TRACK_SIZE_MB=

CLOUDFRONT_DOMAIN=
CLOUDFRONT_KEY_PAIR_ID=
CLOUDFRONT_PRIVATE_KEY=